/* ARANCIO */

header {
    background-color: #ff6900;
    height: 80px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.top > div {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    height: 40px;
}

/* PRODOTTI */

.p-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 2rem auto;
}

.prodotto {
    height: 600px;
    width: 30%;
}

.cuore {
    position: absolute;
    right: 0;
    top: 15px;
    background-color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;

}

.p-rosso {
    color: red;
}

.extra {
    position: absolute;
    left: 0;
    bottom: 40px;
}

.sconto {
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    background-color: red;
}

.sost {
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    background-color: green;
}

.foto {
    position: relative;
}

.foto img.img-cursore {
    display: none;
}

.foto:hover img.img-default {
    display: none;
}

.foto:hover img.img-cursore {
    display: inline-block;
}

.p-rosso, del {
    display: inline;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
}

li {
    display: inline;
}